<div class="header">
    <img src="../../assets/images/event-manager.png">
    <div id="wrap">
        <ul class="navbar">
            <li class="elem">
                <a href="#">Accueil</a>
            </li>
            <li class="elem">
                <a href="#">Mes TimeSeries</a>
            </li>
            <button class="userButton"><img class="userIcon" src="../../assets/images/user.png"/></button>
        </ul>
    </div>
</div>
<div class = "content">
    <app-user-creation></app-user-creation>
    <app-series-creation></app-series-creation>
    <app-event-creation></app-event-creation>
    <div class="timeSeriesList">
        <app-time-series></app-time-series>
    </div>
</div>